
//letter a-z
.logo,nav{
  .a{
    width:calc(4px * #{$size});
    .a1{
      bottom:calc(0px * #{$size});
      transition:width calc(2 * #{$speed});
      &.active{
        width:calc(2px * #{$size});
      }
    }
    .a2{
      left:calc(1px * #{$size});
      bottom:calc(0px * #{$size});
      transition:height calc(5 * #{$speed});
      &.active{
        height:calc(5px * #{$size});
      }
    }
    .a3{
      bottom:calc(4px * #{$size});
      left:calc(1px * #{$size});
      transition:width calc(3 * #{$speed});
      &.active{
        width: calc(3px * #{$size});
      }
    }
    .a4{
      left:calc(3px * #{$size});
      top:calc(2px * #{$size});
      transition:height calc(5 * #{$speed});
      &.active{
        height:calc(5px * #{$size});
      }
    }
    .a5{
      bottom:calc(2px * #{$size});
      left:calc(1px * #{$size});
      transition:width calc(3 * #{$speed});
      &.active{
        width: calc(3px * #{$size});
      }
    }
    .a6{
      bottom:calc(0px * #{$size});
      left:calc(4px * #{$size});
      transition:width calc(1 * #{$speed});
      &.active{
        width: calc(1px * #{$size});
      }
    }
    &.first{
      width:calc(5px * #{$size});
    }
  }

  .b{
    width:calc(4px * #{$size});
    .b1{
      left:calc(2px * #{$size});
      bottom:calc(0px * #{$size});
      transition:height calc(5 * #{$speed});
      &.active{
        height:calc(5px * #{$size});
      }
    }
    .b2{
      top:calc(2px * #{$size});
      left:calc(0px * #{$size});
      transition:width calc(3 * #{$speed});
      &.active{
        width: calc(3px * #{$size});
      }
    }
    .b3{
      top:calc(0px * #{$size});
      transition:height calc(7 * #{$speed});
      &.active{
        height:calc(7px * #{$size});
      }
    }
    .b4{
      bottom:calc(0px * #{$size});
      left:calc(0px * #{$size});
      transition:width calc(3 * #{$speed});
      &.active{
        width: calc(4px * #{$size});
      }
    }
  }

  .c{
    width:calc(4px * #{$size});
    .c1{
      top: calc(2px * #{$size});
      right:calc(1px * #{$size});
      transition:width calc(3 * #{$speed});
      &.active{
        width: calc(3px * #{$size});
      }
    }
    .c2{
      top: calc(2px * #{$size});
      transition:height calc(5 * #{$speed});
      &.active{
        height:calc(5px * #{$size});
      }
    }
    .c3{
      bottom:calc(0px * #{$size});
      transition:width calc(4 * #{$speed});
      &.active{
        width: calc(4px * #{$size});
      }
    }
  }

  .e{
    width:calc(4px * #{$size});
    .e1{
      bottom:calc(2px * #{$size});
      transition:width calc(3 * #{$speed});
      &.active{
        width: calc(3px * #{$size});
      }
    }
    .e2{
      left:calc(2px * #{$size});
      top:calc(2px * #{$size});
      transition:height calc(5 * #{$speed});
      &.active{
        height:calc(3px * #{$size});
      }
    }
    .e3{
      bottom:calc(4px * #{$size});
      top:calc(2px * #{$size});
      transition:width calc(3 * #{$speed});
      &.active{
        width: calc(3px * #{$size});
      }
    }
    .e4{
      bottom:calc(0px * #{$size});
      transition:height calc(5 * #{$speed});
      &.active{
        height:calc(5px * #{$size});
      }
    }
    .e5{
      bottom:calc(0px * #{$size});
      transition:width calc(4 * #{$speed});
      &.active{
        width: calc(7px * #{$size});
      }
    }
  }

  .h{
    width:calc(3px * #{$size});
    .h1{
      bottom:calc(0px * #{$size});
      transition:height calc(7 * #{$speed});
    }
    .h2{
      bottom:calc(4px * #{$size});
      transition:width calc(3 * #{$speed});
    }
    .h3{
      left:calc(2px * #{$size});
      top:calc(2px * #{$size});
      transition:height calc(5 * #{$speed});
    }
    &.bottomToTop{
      .h1{
        &.active{
          height:calc(7px * #{$size});
        }
      }
      .h2{
        &.active{
          width: calc(3px * #{$size});
        }
      }
      .h3{
        &.active{
          height:calc(5px * #{$size});
        }
      }
    }
    
    &.topToBottom{
      width:calc(4px * #{$size});
      .h1{
      left:calc(1px * #{$size});
        &.active{
          height:calc(7px * #{$size});
        }
      }
      .h2{
        left:calc(0px * #{$size});
        &.active{
          width: calc(4px * #{$size});
        }
      }
      .h3{
        left:calc(3px * #{$size});
        &.active{
          height:calc(5px * #{$size});
        }
      }
    }
  }


  .i{
    width: calc(1px * #{$size});

    .i1{
      top:calc(2px * #{$size});
      &.active{
        height:calc(5px * #{$size});
      }
    }
    .i2{
      top:calc(0px * #{$size});
      &.active{
        height:calc(1px * #{$size});
      }
    }
  }

  .j{
    width: calc(2px * #{$size});
    left:calc(0px * #{$size});
    .j1{
      top:calc(0px * #{$size});
    }
    .j2{
      top:calc(2px * #{$size});
      transition:height calc(7 * #{$speed});
      &.active{
        height:calc(7px * #{$size});
      }
    }
    .j3{
      top:calc(4px * #{$size});
      transition:width calc(2 * #{$speed});
      &.active{
        width:calc(2px * #{$size});
      }
    }
  }

  .r{
    width: calc(3px * #{$size});
    .r1{
      bottom:calc(0px * #{$size});
      transition:width calc(2 * #{$speed});
      &.active{
        width: calc(2px * #{$size});
      }
    }
    .r2{
      left:calc(1px * #{$size});
      bottom:calc(0px * #{$size});
      transition:height calc(5 * #{$speed});
      &.active{
        height:calc(5px * #{$size});
      }
    }
    .r3{
      top:calc(2px * #{$size});
      left:calc(1px * #{$size});
      transition:width calc(2 * #{$speed});
      &.active{
        width: calc(2px * #{$size});
      }
    }
  }

  .n{
    width:calc(4px * #{$size});
    .n1{
      bottom:calc(0px * #{$size});
      transition:width calc(2 * #{$speed});
      &.active{
        width:calc(2px * #{$size});
      }
    }
    .n2{
      left:calc(1px * #{$size});
      bottom:calc(0px * #{$size});
      transition:height calc(5 * #{$speed});
      &.active{
        height:calc(5px * #{$size});
      }
    }
    .n3{
      bottom:calc(4px * #{$size});
      left:calc(1px * #{$size});
      transition:width calc(3 * #{$speed});
      &.active{
        width: calc(3px * #{$size});
      }
    }
    .n4{
      left:calc(3px * #{$size});
      top:calc(2px * #{$size});
      transition:height calc(5 * #{$speed});
      &.active{
        height:calc(5px * #{$size});
      }
    }
  }

  .m{
    width:calc(7px * #{$size});
    .n1{
      bottom:calc(0px * #{$size});
      transition:width calc(2 * #{$speed});
      &.active{
        width:calc(2px * #{$size});
      }
    }
    .m2{
      left:calc(1px * #{$size});
      bottom:calc(0px * #{$size});
      transition:height calc(5 * #{$speed});
      &.active{
        height:calc(5px * #{$size});
      }
    }
    .m3{
      bottom:calc(4px * #{$size});
      left:calc(1px * #{$size});
      transition:width calc(3 * #{$speed});
      &.active{
        width: calc(3px * #{$size});
      }
    }
    .m4{
      left:calc(3px * #{$size});
      top:calc(2px * #{$size});
      transition:height calc(5 * #{$speed});
      &.active{
        height:calc(5px * #{$size});
      }
    }
    .m5{
      bottom:calc(4px * #{$size});
      left:calc(1px * #{$size});
      transition:width calc(3 * #{$speed});
      &.active{
        width: calc(3px * #{$size});
      }
    }
    .m6{
      left:calc(3px * #{$size});
      top:calc(2px * #{$size});
      transition:height calc(5 * #{$speed});
      &.active{
        height:calc(5px * #{$size});
      }
    }
  }

  .u{
    width:calc(4px * #{$size});
    bottom:calc(0px * #{$size});
    .u1{
      left:calc(0px * #{$size});
      top:calc(2px * #{$size});
      transition:height calc(5 * #{$speed});
      &.active{
        height:calc(5px * #{$size});
      }
    }
    .u2{
      bottom:calc(0px * #{$size});
      right:calc(0px * #{$size});
      transition:width calc(3 * #{$speed});
      &.active{
        width: calc(3px * #{$size});
      }
    }
    .u3{
      left:calc(2px * #{$size});
      bottom:0;
      transition:height calc(5 * #{$speed});
      &.active{
        height:calc(5px * #{$size});
      }
    }
    .u4{
      top:calc(2px * #{$size});
      left:calc(0px * #{$size});
      transition:width calc(4 * #{$speed});
      &.active{
        width: calc(3px * #{$size});
      }
    }
  }

  .o{
    width:calc(4px * #{$size});
    bottom:calc(0px * #{$size});
    .o1{
      left:calc(0px * #{$size});
      top:calc(2px * #{$size});
      transition:height calc(5 * #{$speed});
      &.active{
        height:calc(5px * #{$size});
      }
    }
    .o2{
      bottom:calc(0px * #{$size});
      right:calc(0px * #{$size});
      transition:width calc(3 * #{$speed});
      &.active{
        width: calc(3px * #{$size});
      }
    }
    .o3{
      left:calc(2px * #{$size});
      bottom:0;
      transition:height calc(5 * #{$speed});
      &.active{
        height:calc(5px * #{$size});
      }
    }
    .o4{
      top:calc(2px * #{$size});
      left:calc(0px * #{$size});
      transition:width calc(4 * #{$speed});
      &.active{
        width: calc(3px * #{$size});
      }
    }
  }

  .p{
    width:calc(3px * #{$size});
    .p1{
      left:calc(2px * #{$size});
      bottom:calc(0px * #{$size});
      transition:height calc(5 * #{$speed});
      &.active{
        height:calc(5px * #{$size});
      }
    }
    .p2{
      top:calc(2px * #{$size});
      left:calc(0px * #{$size});
      transition:width calc(3 * #{$speed});
      &.active{
        width: calc(3px * #{$size});
      }
    }
    .p3{
      top:calc(2px * #{$size});
      transition:height calc(7 * #{$speed});
      &.active{
        height:calc(7px * #{$size});
      }
    }
    .p4{
      bottom:calc(0px * #{$size});
      left:calc(0px * #{$size});
      transition:width calc(3 * #{$speed});
      &.active{
        width: calc(3px * #{$size});
      }
    }
  }

  .s{
    width: calc(4px * #{$size});
    .s1{
      bottom:calc(0px * #{$size});
      transition:width calc(4 * #{$speed});
      &.active{
        width: calc(4px * #{$size});
      }
    }
    .s2{
      left:calc(3px * #{$size});
      bottom:calc(0px * #{$size});
      transition:height calc(3 * #{$speed});
      &.active{
        height:calc(3px * #{$size});
      }
    }
    .s3{
      bottom:calc(2px * #{$size});
      right:0;
      transition:width calc(3 * #{$speed});
      &.active{
        width: calc(3px * #{$size});
      }
    }
    .s4{
      bottom:calc(2px * #{$size});
      left:calc(1px * #{$size});
      transition:height calc(3 * #{$speed});
      &.active{
        height:calc(3px * #{$size});
      }
    }
    .s5{
      top:calc(2px * #{$size});
      left:calc(1px * #{$size});
      transition:width calc(3 * #{$speed});
      &.active{
        width: calc(3px * #{$size});
      }
    }
  }

  .t{
    width: calc(3px * #{$size});
    .t2{
      transition:width calc(3 * #{$speed});
      top: calc(2px * #{$size});
      &.active{
        width:calc(3px * #{$size});
      }
    }
    .t1{
      left: calc(1px * #{$size});
      transition:height calc(7 * #{$speed});
      &.active{
        height:calc(7px * #{$size});
      }
    }
  }
}