body {
  width: 100vw;
  overflow-x: hidden;
}

.bg--red{
  height: 150vh;
  width: 100%;
  background-color: red;
  margin-top: 100vh;
}

.about,.project,.section--2{
  width: calc(100vw - (1px * #{$size}));
  margin-left: calc(0.5px * #{$size});  
}

.wrapper{
  @media screen and (min-width: 1240px) {
    width: calc(100% - (1px * #{$size}));
    margin-left: calc(0.5px * #{$size});
    left:calc(2px * #{$size});
    max-width:calc(21px * #{$size});
  }
}

.about{ 
  @media screen and (min-width: 640px) {
    width:calc(48% - (0.5px * #{$size}));
  }
  @media screen and (min-width: 1240px) {
    left:calc(2px * 50);
  }
}

.section--2{
  width:calc(48% - (0.5px * #{$size}));
  right: calc(0.5px * #{$size});  
}

.bg--red+.wrapper{
  @media screen and (max-width: 640px) {
    margin-top: -100vh;
   
  }
  @media screen and (min-width: 1240px) {
    
  }
}





.project{
  @media screen and (min-width: 640px) {
    position: relative;
    top:-20vh;
    margin-left: calc(0.5px * #{$size});
  }
  @media screen and (min-width: 1240px) {
    left:calc(2px * #{$size});
    max-width:calc(21px * #{$size});
  }
}

.about{
  margin-top: calc(2px * #{$size});
   @media screen and (min-width: 640px) {
    margin-top:0;
    position: absolute;
    top:150vh;
    //left:calc(1px * #{$size});
    //width:calc(10px * #{$size});
    //right:auto;
   }
   @media screen and (min-width: 1240px) {
    //left:calc(2px * #{$size});
    //width:calc(10px * #{$size});
    //right:auto;
   }
}

.section--2{
  transition: top 1s ease-in-out;
  &.visible{
    top:150vh; 
  }
  @media screen and (min-width: 640px) {
    position: absolute;
    top:300vh;
    //left:calc(13px * #{$size});
    //width:calc(10px * #{$size});
    &.visible{
      top:calc(150vh + (9px * 15));
    }
  }

}

body{
  background-color: red;
  &.scroll{
    .logo .word  .letter{
      height:calc(14px * 50);
      &:hover{
        .letter__elemnt{
          background-color:#000;
        }
      }
    }
    .nav .word .letter{
      height:calc(7px * 5);
      &:hover{
        .letter__elemnt{
          background-color:#fff;
        }
      }
    }
    
    .bg--red{
      margin-top: -100vh;
      height: 200vh;
    }
    .logoPosition{
      position: static;
      margin-top: 128vh;
    }
    .about{
      //top:150vh; 
    }
  }
}

section{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.8rem;
  @media screen and (min-width: 640px) {
    position: absolute;
  }
  p{
    background-color: #fff;
    padding: 10px;
    margin-bottom:calc(0.5px * 50);
    &:last-child{
      display: inline-block;
    }
  }
}

.link{
  position: relative;
  display: inline-block;
  &:after{
    background-color: #000;
    width: 100%;
    height:6px;
    content: "";
    display: block;
  }
}

.link--experinces{
  cursor: pointer;
  background-color: #000;
  color: #fff;
  border: solid 5px #fff;
}