.word{
  position: relative;
  display: flex;
  flex-wrap: wrap; 
}

.letter{
  position: relative;
  .letter__elemnt{
    width: calc(0px * 0);
    height:calc(0px * 0);
    position: absolute;
    display: block;
  }
}




@mixin letter--a($size,$speed) {
  .a{
    width:calc(5px * #{$size});
    .a1{
      bottom:calc(0px * #{$size});
      transition:width calc(2 * #{$speed});
      &.active{
        width:calc(2px * #{$size});
      }
    }
    .a2{
      left:calc(1px * #{$size});
      bottom:calc(0px * #{$size});
      transition:height calc(5 * #{$speed});
      &.active{
        height:calc(5px * #{$size});
      }
    }
    .a3{
      bottom:calc(4px * #{$size});
      left:calc(1px * #{$size});
      transition:width calc(3 * #{$speed});
      &.active{
        width: calc(3px * #{$size});
      }
    }
    .a4{
      left:calc(3px * #{$size});
      top:calc(2px * #{$size});
      transition:height calc(5 * #{$speed});
      &.active{
        height:calc(5px * #{$size});
      }
    }
    .a5{
      bottom:calc(2px * #{$size});
      left:calc(1px * #{$size});
      transition:width calc(3 * #{$speed});
      &.active{
        width: calc(3px * #{$size});
      }
    }
    .a6{
      bottom:calc(0px * #{$size});
      left:calc(4px * #{$size});
      transition:width calc(1 * #{$speed});
      &.active{
        width: calc(1px * #{$size});
      }
    }
    
    &.connectionEnd{
      width:calc(4px * #{$size});
      .a1{
        display:none;
      }
      .a2,.a3,.a5{
        left:0;
      }
      .a4{
        left:calc(2px * #{$size});;
      }
      .a6{
        left:calc(3px * #{$size});
      }
    }
    
    &.connectionStart{
      width:calc(4px * #{$size});
      .a6{
        display:none;
      }
    }
    &.noConnection{
      width:calc(3px * #{$size});
      .a1,.a6{
        display:none;
      }
    }
    
    &.topToBottom{
      .a1{
        top:calc(2px * #{$size});
      }
    }
  }
  
}
@mixin letter--b($size,$speed) {
  .b{
    width:calc(4px * #{$size});
    .b1{
      left:calc(2px * #{$size});
      bottom:calc(0px * #{$size});
      transition:height calc(5 * #{$speed});
      &.active{
        height:calc(5px * #{$size});
      }
    }
    .b2{
      top:calc(2px * #{$size});
      left:calc(0px * #{$size});
      transition:width calc(3 * #{$speed});
      &.active{
        width: calc(3px * #{$size});
      }
    }
    .b3{
      top:calc(0px * #{$size});
      transition:height calc(7 * #{$speed});
      &.active{
        height:calc(7px * #{$size});
      }
    }
    .b4{
      bottom:calc(0px * #{$size});
      left:calc(0px * #{$size});
      transition:width calc(3 * #{$speed});
      &.active{
        width: calc(4px * #{$size});
      }
    }
  }
}
@mixin letter--c($size,$speed) {
  .c{
    width:calc(4px * #{$size});
    .c1{
      top: calc(2px * #{$size});
      right:calc(1px * #{$size});
      transition:width calc(3 * #{$speed});
      &.active{
        width: calc(3px * #{$size});
      }
    }
    .c2{
      top: calc(2px * #{$size});
      transition:height calc(5 * #{$speed});
      &.active{
        height:calc(5px * #{$size});
      }
    }
    .c3{
      bottom:calc(0px * #{$size});
      transition:width calc(4 * #{$speed});
      &.active{
        width: calc(4px * #{$size});
      }
    }
  }
}
@mixin letter--e($size,$speed) {
  .e{
    width:calc(4px * #{$size});
    .e1{
      bottom:calc(2px * #{$size});
      transition:width calc(3 * #{$speed});
      &.active{
        width: calc(3px * #{$size});
      }
    }
    .e2{
      left:calc(2px * #{$size});
      top:calc(2px * #{$size});
      transition:height calc(5 * #{$speed});
      &.active{
        height:calc(3px * #{$size});
      }
    }
    .e3{
      bottom:calc(4px * #{$size});
      top:calc(2px * #{$size});
      transition:width calc(3 * #{$speed});
      &.active{
        width: calc(3px * #{$size});
      }
    }
    .e4{
      bottom:calc(0px * #{$size});
      transition:height calc(5 * #{$speed});
      &.active{
        height:calc(5px * #{$size});
      }
    }
    .e5{
      bottom:calc(0px * #{$size});
      transition:width calc(4 * #{$speed});
      &.active{
        width: calc(7px * #{$size});
      }
    }
  }
}
@mixin letter--h($size,$speed) {
  .h{
    width:calc(3px * #{$size});
    .h1{
      bottom:calc(0px * #{$size});
      transition:height calc(7 * #{$speed});
    }
    .h2{
      bottom:calc(4px * #{$size});
      transition:width calc(3 * #{$speed});
    }
    .h3{
      left:calc(2px * #{$size});
      top:calc(2px * #{$size});
      transition:height calc(5 * #{$speed});
    }
    &.bottomToTop{
      .h1{
        &.active{
          height:calc(7px * #{$size});
        }
      }
      .h2{
        &.active{
          width: calc(3px * #{$size});
        }
      }
      .h3{
        &.active{
          height:calc(5px * #{$size});
        }
      }
    }
    
    &.topToBottom{
      width:calc(4px * #{$size});
      .h1{
      left:calc(1px * #{$size});
        &.active{
          height:calc(7px * #{$size});
        }
      }
      .h2{
        left:calc(0px * #{$size});
        &.active{
          width: calc(4px * #{$size});
        }
      }
      .h3{
        left:calc(3px * #{$size});
        &.active{
          height:calc(5px * #{$size});
        }
      }
    }
  }
}
@mixin letter--i($size,$speed) {
  .i{
    width: calc(1px * #{$size});

    .i1{
      top:calc(2px * #{$size});
      &.active{
        height:calc(5px * #{$size});
      }
    }
    .i2{
      top:calc(0px * #{$size});
      &.active{
        height:calc(1px * #{$size});
      }
    }
  }
}
@mixin letter--j($size,$speed) {
  .j{
    width: calc(2px * #{$size});
    left:calc(0px * #{$size});
    .j1{
      top:calc(0px * #{$size});
    }
    .j2{
      top:calc(2px * #{$size});
      transition:height calc(7 * #{$speed});
      &.active{
        height:calc(7px * #{$size});
      }
    }
    .j3{
      top:calc(4px * #{$size});
      transition:width calc(2 * #{$speed});
      &.active{
        width:calc(2px * #{$size});
      }
    }
  }
}
@mixin letter--r($size,$speed) {
  .r{
    width: calc(3px * #{$size});
    .r1{
      bottom:calc(0px * #{$size});
      transition:width calc(2 * #{$speed});
      &.active{
        width: calc(2px * #{$size});
      }
    }
    .r2{
      left:calc(1px * #{$size});
      bottom:calc(0px * #{$size});
      transition:height calc(5 * #{$speed});
      &.active{
        height:calc(5px * #{$size});
      }
    }
    .r3{
      top:calc(2px * #{$size});
      left:calc(1px * #{$size});
      transition:width calc(2 * #{$speed});
      &.active{
        width: calc(2px * #{$size});
      }
    }
  }
}
@mixin letter--n($size,$speed) {
  .n{
    width:calc(4px * #{$size});
    .n1{
      bottom:calc(0px * #{$size});
      transition:width calc(2 * #{$speed});
      &.active{
        width:calc(2px * #{$size});
      }
    }
    .n2{
      left:calc(1px * #{$size});
      bottom:calc(0px * #{$size});
      transition:height calc(5 * #{$speed});
      &.active{
        height:calc(5px * #{$size});
      }
    }
    .n3{
      bottom:calc(4px * #{$size});
      left:calc(1px * #{$size});
      transition:width calc(3 * #{$speed});
      &.active{
        width: calc(3px * #{$size});
      }
    }
    .n4{
      left:calc(3px * #{$size});
      top:calc(2px * #{$size});
      transition:height calc(5 * #{$speed});
      &.active{
        height:calc(5px * #{$size});
      }
    }
  }
}
@mixin letter--m($size,$speed) {
  .m{
    width:calc(7px * #{$size});
    .n1{
      bottom:calc(0px * #{$size});
      transition:width calc(2 * #{$speed});
      &.active{
        width:calc(2px * #{$size});
      }
    }
    .m2{
      left:calc(1px * #{$size});
      bottom:calc(0px * #{$size});
      transition:height calc(5 * #{$speed});
      &.active{
        height:calc(5px * #{$size});
      }
    }
    .m3{
      bottom:calc(4px * #{$size});
      left:calc(1px * #{$size});
      transition:width calc(3 * #{$speed});
      &.active{
        width: calc(3px * #{$size});
      }
    }
    .m4{
      left:calc(3px * #{$size});
      top:calc(2px * #{$size});
      transition:height calc(5 * #{$speed});
      &.active{
        height:calc(5px * #{$size});
      }
    }
    .m5{
      bottom:calc(4px * #{$size});
      left:calc(1px * #{$size});
      transition:width calc(3 * #{$speed});
      &.active{
        width: calc(3px * #{$size});
      }
    }
    .m6{
      left:calc(3px * #{$size});
      top:calc(2px * #{$size});
      transition:height calc(5 * #{$speed});
      &.active{
        height:calc(5px * #{$size});
      }
    }
  }
}
@mixin letter--u($size,$speed) {
  .u{
    width:calc(4px * #{$size});
    bottom:calc(0px * #{$size});
    .u1{
      left:calc(0px * #{$size});
      top:calc(2px * #{$size});
      transition:height calc(5 * #{$speed});
      &.active{
        height:calc(5px * #{$size});
      }
    }
    .u2{
      bottom:calc(0px * #{$size});
      right:calc(0px * #{$size});
      transition:width calc(3 * #{$speed});
      &.active{
        width: calc(3px * #{$size});
      }
    }
    .u3{
      left:calc(2px * #{$size});
      bottom:0;
      transition:height calc(5 * #{$speed});
      &.active{
        height:calc(5px * #{$size});
      }
    }
    .u4{
      top:calc(2px * #{$size});
      left:calc(0px * #{$size});
      transition:width calc(4 * #{$speed});
      &.active{
        width: calc(3px * #{$size});
      }
    }
  }
}
@mixin letter--o($size,$speed) {
  .o{
    width:calc(4px * #{$size});
    bottom:calc(0px * #{$size});
    .o1{
      left:calc(0px * #{$size});
      top:calc(2px * #{$size});
      transition:height calc(5 * #{$speed});
      &.active{
        height:calc(5px * #{$size});
      }
    }
    .o2{
      bottom:calc(0px * #{$size});
      right:calc(0px * #{$size});
      transition:width calc(3 * #{$speed});
      &.active{
        width: calc(3px * #{$size});
      }
    }
    .o3{
      left:calc(2px * #{$size});
      bottom:0;
      transition:height calc(5 * #{$speed});
      &.active{
        height:calc(5px * #{$size});
      }
    }
    .o4{
      top:calc(2px * #{$size});
      left:calc(0px * #{$size});
      transition:width calc(4 * #{$speed});
      &.active{
        width: calc(3px * #{$size});
      }
    }
    &.noConection{
       width:calc(3px * #{$size});
      .o2{
        bottom:calc(0px * #{$size});
        left:calc(0px * #{$size});
        transition:width calc(3 * #{$speed});
        &.active{
          width: calc(3px * #{$size});
        }
      }
    }
  }
}
@mixin letter--p($size,$speed) {
  .p{
    width:calc(3px * #{$size});
    .p1{
      left:calc(2px * #{$size});
      bottom:calc(0px * #{$size});
      transition:height calc(5 * #{$speed});
      &.active{
        height:calc(5px * #{$size});
      }
    }
    .p2{
      top:calc(2px * #{$size});
      left:calc(0px * #{$size});
      transition:width calc(3 * #{$speed});
      &.active{
        width: calc(3px * #{$size});
      }
    }
    .p3{
      top:calc(2px * #{$size});
      transition:height calc(7 * #{$speed});
      &.active{
        height:calc(7px * #{$size});
      }
    }
    .p4{
      bottom:calc(0px * #{$size});
      left:calc(0px * #{$size});
      transition:width calc(3 * #{$speed});
      &.active{
        width: calc(3px * #{$size});
      }
    }
  }
}
@mixin letter--s($size,$speed) {
  .s{
    width: calc(4px * #{$size});
    .s1{
      bottom:calc(0px * #{$size});
      transition:width calc(4 * #{$speed});
      &.active{
        width: calc(4px * #{$size});
      }
    }
    .s2{
      left:calc(3px * #{$size});
      bottom:calc(0px * #{$size});
      transition:height calc(3 * #{$speed});
      &.active{
        height:calc(3px * #{$size});
      }
    }
    .s3{
      bottom:calc(2px * #{$size});
      right:0;
      transition:width calc(3 * #{$speed});
      &.active{
        width: calc(3px * #{$size});
      }
    }
    .s4{
      bottom:calc(2px * #{$size});
      left:calc(1px * #{$size});
      transition:height calc(3 * #{$speed});
      &.active{
        height:calc(3px * #{$size});
      }
    }
    .s5{
      top:calc(2px * #{$size});
      left:calc(1px * #{$size});
      transition:width calc(3 * #{$speed});
      &.active{
        width: calc(3px * #{$size});
      }
    }
  }
}
@mixin letter--t($size,$speed) {
  .t{
    width: calc(3px * #{$size});
    .t2{
      transition:width calc(3 * #{$speed});
      top: calc(2px * #{$size});
      &.active{
        width:calc(3px * #{$size});
      }
    }
    .t1{
      left: calc(1px * #{$size});
      transition:height calc(7 * #{$speed});
      &.active{
        height:calc(7px * #{$size});
      }
    }
  }
}



.logo{
  .letter{
    .letter__elemnt{
      background-color: #000;
      transition-timing-function:linear !important;
      &.active{
        width: calc(1px * 50);
        height:calc(1px * 50);
      }
    }
  }
}

nav .word.word--menu .letter .letter__elemnt.active{
  width: calc(1px * 5);
  height:calc(1px * 5);
}
.about .word.word--menu .letter .letter__elemnt.active,
.contact .word.word--menu .letter .letter__elemnt.active,
.project .word.word--menu .letter .letter__elemnt.active{
  width: calc(1px * 12);
  height:calc(1px * 12);
}


.logo{
  .word{
    height:calc(7px * 50);
    .letter{
      transition: all 1s ease-in-out;
      height:calc(7px * 50);
      &:hover{
        height:calc(5px * 50);
        transition: all 1s;
        .letter__elemnt{
        }
      }
    }
  }
  //christina stephan
  @include letter--c(50,0.01s);
  @include letter--h(50,0.01s);
  @include letter--r(50,0.01s);
  @include letter--i(50,0.01s);
  @include letter--s(50,0.01s);
  @include letter--t(50,0.01s);
  @include letter--i(50,0.01s);
  @include letter--n(50,0.01s);
  @include letter--a(50,0.01s);
  @include letter--s(50,0.01s);
  @include letter--t(50,0.01s);
  @include letter--e(50,0.01s);
  @include letter--p(50,0.01s);
  @include letter--h(50,0.01s);
  @include letter--a(50,0.01s);
  @include letter--n(50,0.01s);
}




.about, .project, .contact{
  .word.word--menu{
    height:calc(7px * 12);
    margin-bottom: calc(2px * 12);
    @media screen and (max-width: 639px) {
      width: 100%;
      margin-left: -25px;
    }
    cursor: pointer;
    .letter{
      @media screen and (min-width: 640px) {
        height:calc(10px * 12);
      }
      transition: height 0.3s;

      &:hover{
        height:calc(10px * 12);
      }
      &.animationActive{
        height:calc(7px * 12);
      }
      .letter__elemnt{
        background-color:white;
      }
    }
    //about
    @include letter--a(12,0.03s);
    @include letter--b(12,0.03s);
    @include letter--o(12,0.03s);
    @include letter--u(12,0.03s);
    @include letter--t(12,0.03s);

    //projects
    @include letter--p(12,0.03s);
    @include letter--r(12,0.03s);
    @include letter--o(12,0.03s);
    @include letter--j(12,0.03s);
    @include letter--e(12,0.03s);
    @include letter--c(12,0.03s);
    @include letter--t(12,0.03s);
    @include letter--s(12,0.03s);

     //contact
     @include letter--c(12,0.03s);
     @include letter--o(12,0.03s);
     @include letter--n(12,0.03s);
     @include letter--t(12,0.03s);
     @include letter--a(12,0.03s);
     @include letter--c(12,0.03s);
     @include letter--t(12,0.03s);
 
  }
}

.contact{
  padding-bottom: 50px;;
  .word.word--menu{
    .letter{
      height:calc(7px * 12);
    }
  }
  a{
    color:#fff;
  }
}

nav{
  .word.word--menu{
    height:calc(7px * 5);
    margin-bottom: calc(0.5px * #{$size});
    cursor: pointer;
    .letter{
      height:calc(7px * 5);
      transition: height 0.3s;
      &:hover{
        height:calc(3px * 5);
      }
      .letter__elemnt{
        background-color:white;
      }
    }
    //about
    @include letter--a(5,0.01s);
    @include letter--b(5,0.01s);
    @include letter--o(5,0.01s);
    @include letter--u(5,0.01s);
    @include letter--t(5,0.01s);

    //projects
    @include letter--p(5,0.01s);
    @include letter--r(5,0.01s);
    @include letter--o(5,0.01s);
    @include letter--j(5,0.01s);
    @include letter--e(5,0.01s);
    @include letter--c(5,0.01s);
    @include letter--t(5,0.01s);
    @include letter--s(5,0.01s);

     //contact
     @include letter--c(5,0.01s);
     @include letter--o(5,0.01s);
     @include letter--n(5,0.01s);
     @include letter--t(5,0.01s);
     @include letter--a(5,0.01s);
     @include letter--c(5,0.01s);
     @include letter--t(5,0.01s);
 
  }
}
